apiVersion: v1
kind: PersistentVolume
metadata:
  name: php-app-pv
  labels:
    app: php-app
spec:
  capacity:
    storage: 100Mi
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /data/php-app
    type: DirectoryOrCreate
