apiVersion: v1
kind: PersistentVolume
metadata:
  name: php-app-pv
  labels:
    app: php-app
spec:
  capacity:
    storage: 100Mi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
