apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: php-app-pvc
  namespace: php-app
  labels:
    app: php-app
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  storageClassName: standard
  resources:
    requests:
      storage: 100Mi

